

<div class="card">
  <div class="card-header">
      <h1>Editing branch</h1>
  </div>
  <div class="card-body">
    <%= render "form", branch: @branch %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back", branches_path, class: 'btn btn-primary' %>
    </div>