
<div class="card">
  <div class="card-header">
      <h1>New period</h1>
  </div>
  <div class="card-body">
    <%= render "form", period: @period %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back", periods_path, class: 'btn btn-primary' %>
    </div>