

<div class="card">
  
  <div class="card-header">
    <h3>Payee details</h3>
    <%= button_to "Delete", @period, method: :delete, class: 'btn btn-danger' %>
  </div>
  <div class="card-body">
    
    <%= render @period %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_period_path(@period), class: "btn btn-secondary btn-sm" %> |
  <%= link_to "Back", periods_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>