
<div class="card">
  <div class="card-header">
      <h1>New bank</h1>
  </div>
  <div class="card-body">
    <%= render "form", bank: @bank %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back", banks_path, class: 'btn btn-primary' %>
    </div>