
<div class="card">
  <div class="card-header">
      <h1>New generalledger</h1>
  </div>
  <div class="card-body">
    <%= render "form", generalledger: @generalledger %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back", generalledgers_path, class: 'btn btn-primary' %>
    </div>