

<div class="card">
  
  <div class="card-header">
    <h3>Agent details</h3>
    <%= button_to "Delete", @agent, method: :delete, class: 'btn btn-danger' %>
  </div>
  <div class="card-body">
    
    <%= render @agent %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_agent_path(@agent), class: "btn btn-secondary btn-sm" %> |
  <%= link_to "Back", agents_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>