<div class="p-5 mb-4 bg-light rounded-3" id="home-container">
    <h1 class="isplay-5 fw-bold">Finance System</h1>
    <p class="col-md-8 fs-4">This is software for the finance division.<p>
    <hr class="my-4">
    <p>This sofware is estimated to finish around the month of September.</p>
</div>

