<%= render @cashier %>

<div class="text-end">
  <%= link_to '<i class="bi bi-plus-square"></i> New item'.html_safe, new_ledger_path(v: @cashier, type: 'OR'), class: "btn btn-primary mb-3 mt-3", data: { turbo_frame: "remote_modal" } %>
</div>
<%= turbo_frame_tag "ledger_items" do %>
  <% @voucher = @cashier %>
  <div id="ledger-items-table">
    <%= render 'ledgers/ledger_entry' %>
  </div>
<% end %>