

<div class="card">
  
  <div class="card-header">
    <h3>Payee details</h3>
    <%= button_to "Delete", @cashier, method: :delete, class: 'btn btn-danger' %>
  </div>
  <div class="card-body">
    
    <%= render @cashier %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_cashier_path(@cashier), class: "btn btn-secondary btn-sm" %> |
  <%= link_to "Back", cashiers_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>