<div id="<%= dom_id sub_account %>">
  <p>
    <strong>Subaccount title:</strong>
    <%= sub_account.sub_account_title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sub_account.description %>
  </p>

</div>
