
<div class="card">
  <div class="card-header">
      <h1>Create Sub-Account</h1>
  </div>
  <div class="card-body">
    <%= render "form", sub_account: @sub_account %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back", sub_accounts_path, class: 'btn btn-primary' %>
    </div>