<div>
  <%= render @journal_voucher %>
</div>
<div class="text-end mt-3">
  <%= link_to '<i class="bi bi-plus-square"></i> New item'.html_safe, new_ledger_path(v: @journal_voucher, type: 'JV'), class: "btn btn-primary mb-3", data: { turbo_frame: "remote_modal" } %>
</div>
<%= turbo_frame_tag "ledger_items" do %>
  <div id="ledger-items-table">
    <% @voucher = @journal_voucher %>
    <%= render 'ledgers/ledger_entry' %>
  </div>
<% end %>
</div>
