
<div class="card">
  <div class="card-header">
      <h1>New check voucher</h1>
  </div>
  <div class="card-body">
    <%= render "form", check_voucher: @check_voucher %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back", check_vouchers_path, class: 'btn btn-primary' %>
    </div>