<div>
  <%= render @check_voucher %>
</div>
<div class="text-end">
  
  <%= link_to '<i class="bi bi-plus-square"></i> New item'.html_safe, new_ledger_path(v: @check_voucher, type: 'CV'), class: "btn btn-primary mb-3 mt-3", data: { turbo_frame: "remote_modal" } %>
</div>
<%= turbo_frame_tag "ledger_items" do %>
  <% @voucher = @check_voucher %>
  <div id="ledger-items-table">
    <%= render 'ledgers/ledger_entry' %>
  </div>
<% end %>
</div>
