<div id="<%= dom_id payee %>">
  <p>
    <strong>Payee:</strong>
    <%= payee.payee %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= payee.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payee.description %>
  </p>

</div>
