


<div class="card">
  <div class="card-header">
      <h1>New payee</h1>
  </div>
  <div class="card-body">
    <%= render "form", payee: @payee %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back to payees", payees_path %>
    </div>
</div>
