
<div class="card">
  <div class="card-header">
      <h1>New account</h1>
  </div>
  <div class="card-body">
    <%= render "form", account: @account %>
  </div>
    <br>
    <div class="card-footer">
      <%= link_to "Back", accounts_path, class: 'btn btn-primary' %>
    </div>