

<div class="card">
  
  <div class="card-header">
    <h3>Payee details</h3>
    <%= button_to "Delete", @account, method: :delete, class: 'btn btn-danger' %>
  </div>
  <div class="card-body">
    
    <%= render @account %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_account_path(@account), class: "btn btn-secondary btn-sm" %> |
  <%= link_to "Back", accounts_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>